@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-size: 16px;
    color: #0F2854;
      @apply bg-[#F4F4F4];
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    font-weight: 600;
    color: #0F2854;
  }
  
  p, span, div, label, input, button, select, textarea {
    font-size: 16px;
  }
  
  small, .text-sm, .text-xs {
    font-size: 14px;
  }
}